* {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
html header,
body header {
  width: 100%;
  height: 45px;
  background-color: #f66;
}
html #content,
body #content {
  width: 100%;
  flex: 1;
}
html footer,
body footer {
  width: 100%;
  height: 40px;
  background-color: #ccc;
}
html footer ul,
body footer ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
html footer ul li,
body footer ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
html footer ul.li,
body footer ul.li {
  color: #f66;
}
